OPENPECHA_ENDPOINT=
# OpenPecha API v2 (X-API-Key) and default X-Application for /v2 routes
OPENPECHA_API_KEY=
OPENPECHA_X_APPLICATION=
API_ENDPOINT=
BDRC_SEARCH_ENDPOINT=
PORT=8000


TRANSLATION_BACKEND_URL=