fastapi
uvicorn
pydantic
requests
python-dotenv
rdflib
pyewts
git+https://github.com/OpenPecha/milvus_segment_generator.git
git+https://github.com/OpenPecha/fast-antx.git
git+https://github.com/OpenPecha/BoSegmenter.git