@font-face {
    font-family: monlam-2;
    src: url('/font/MonlamUniOuChan2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  