
  
@font-face {
	font-family: "Noto";
	src: url("/font/Noto.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "monlam";
	src: url("/font/MonlamUniOuChan2.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "poppins";
	src: url("/font/Poppins-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}


  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  

  .cm-editor div {
    font-family: var(--font-monlam-2) !important;
  }
  
  body {
    font-family: "poppins", sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    overflow: hidden;
  }