
  
@font-face {
	font-family: "Noto";
	src: url("/font/Noto.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "monlam";
	src: url("/font/MonlamUniOuChan2.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "poppins";
	src: url("/font/Poppins-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "jomo";
	src: url("/font/Jomolhari-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

html[lang="bo"] div {
  font-family: 'jomo', sans-serif !important;
  font-size: 16px ;
}

html[lang="en"] div {
  font-family: 'poppins', 'Noto', sans-serif !important;
  font-size: 14px ;
}

html[lang="bo"] label {
  font-family: 'jomo', sans-serif !important;
  font-size: 18px ;
  margin-bottom: 0.5rem !important;
}

html[lang="en"] label {
  font-family: 'poppins', 'Noto', sans-serif !important;
  font-size: 14px ;
}

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  

  .cm-editor div {
    font-family: 'noto', sans-serif !important;
    line-height: 2;
  }
  
  body {
    font-family: "poppins", sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    overflow: hidden;
  }